@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@theme {
  --font-inter: "Montserrat";
  --color-primary: #6c54ec;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-grey: var(--grey);
  --color-border: var(--border);
  --color-border-two: var(--border);
  --color-primary-gradient: linear-gradient(to right, #6c54ec 0%, #b34ae4 100%);
  --сolor-neutral-gray: var(--neutral-gray);
  --color-blue: #042f9c;

  --color-soft-purple: #b34ae4;
  --color-soft-pink: #ec549b;
  --color-soft-blue: #549bec;
  --color-soft-green: #54ec9b;
  --color-soft-orange: #ec9b54;
  --color-soft-yellow: #ece254;
  --color-soft-red: #ec5454;
  --color-soft-cyan: #54ece2;
  --color-soft-indigo: #6d55ed;
  --color-soft-lime: #9bec54;
  --color-soft-rose: #ec549b;
  --color-soft-violet: #b34ae4;
  --color-soft-teal: #54b3e4;
  --color-soft-fuchsia: #e454ec;
  --color-soft-emerald: #54ec9b;
  --color-enterprise-gray: oklch(73.8% 0 0);
}

.light {
  --background: #f6f6f6;
  --secondary: #ffffff;
  --foreground: #333333;
  --text: #505050;
  --grey: #bdbdbd;
  --grey-second: #e5e5e5;
  --border: #fff;
  --border-two: #fff;
  --neutral-gray: #8a8f9c;
  --shadow-classic: 0px 24px 24px -12px rgba(14, 63, 126, 0.04),
    0px 12px 12px -6px rgba(14, 63, 126, 0.04),
    0px 6px 3px rgba(42, 51, 70, 0.04),
    0px 3px 3px -1.5px rgba(42, 51, 70, 0.04),
    0px 1px 1px rgba(42, 51, 70, 0.04), 0px 0px 0px 1px rgba(14, 63, 126, 0.04);
  --shadow-primaryy: 0px 2px 4px rgba(108, 84, 236, 0.15),
    -2px 7px 7px rgba(108, 84, 236, 0.13),
    -3px 15px 9px rgba(108, 84, 236, 0.08),
    -6px 27px 11px rgba(108, 84, 236, 0.02),
    -9px 43px 12px rgba(108, 84, 236, 0),
    inset 0 0 6.8px rgba(255, 255, 255, 0.25);
  --gradient: linear-gradient(to right, #6c54ec 0%, #b34ae4 100%);
  --bg-gradient-soft-pink: radial-gradient(
    50% 50% at 50% 50%,
    rgba(250, 117, 248, 0.3) 0%,
    rgba(250, 117, 248, 0) 100%
  );
  --bg-gradient-soft-purple: radial-gradient(
    50% 50% at 50% 50%,
    rgba(155, 137, 255, 0.3) 0%,
    rgba(193, 182, 255, 0) 100%
  );
  --bg-gradient-main: linear-gradient(
    to bottom,
    rgba(246, 246, 246, 0) 0%,
    rgba(246, 246, 246, 1) 100%
  );
}

.dark {
  --background: #f6f6f6;
  --secondary: #ffffff;
  --foreground: #333333;
  --text: #505050;
  --grey: #bdbdbd;
  --grey-second: #e5e5e5;
  --border: #fff;
  --border-two: #fff;
  --neutral-gray: #8a8f9c;
  --shadow-classic: 0px 24px 24px -12px rgba(14, 63, 126, 0.04),
    0px 12px 12px -6px rgba(14, 63, 126, 0.04),
    0px 6px 3px rgba(42, 51, 70, 0.04),
    0px 3px 3px -1.5px rgba(42, 51, 70, 0.04),
    0px 1px 1px rgba(42, 51, 70, 0.04), 0px 0px 0px 1px rgba(14, 63, 126, 0.04);
  --shadow-primaryy: 0px 2px 4px rgba(108, 84, 236, 0.15),
    -2px 7px 7px rgba(108, 84, 236, 0.13),
    -3px 15px 9px rgba(108, 84, 236, 0.08),
    -6px 27px 11px rgba(108, 84, 236, 0.02),
    -9px 43px 12px rgba(108, 84, 236, 0),
    inset 0 0 6.8px rgba(255, 255, 255, 0.25);
  --gradient: linear-gradient(to right, #6c54ec 0%, #b34ae4 100%);
  --bg-gradient-soft-pink: radial-gradient(
    50% 50% at 50% 50%,
    rgba(250, 117, 248, 0.3) 0%,
    rgba(250, 117, 248, 0) 100%
  );
  --bg-gradient-soft-purple: radial-gradient(
    50% 50% at 50% 50%,
    rgba(155, 137, 255, 0.3) 0%,
    rgba(193, 182, 255, 0) 100%
  );
  --bg-gradient-main: linear-gradient(
    to bottom,
    rgba(246, 246, 246, 0) 0%,
    rgba(246, 246, 246, 1) 100%
  );
}

/* .dark {
  --background: #0c0a20;
  --secondary: linear-gradient(
      to top right,
      rgba(69, 51, 182, 0.2) 0%,
      rgba(69, 51, 182, 0) 100%
    ),
    #0b0a10;
  --border: #717171;
  --border-two: #e0e0e0;
  --foreground: #ffffff;
  --text: #ffffff;
  --grey: #bdbdbd;
  --color-gray-200: #717171;
  --neutral-gray: #14131e;
  --shadow-classic: 0px 24px 24px -12px rgba(255, 255, 255, 0);
  --shadow-primaryy: 0px 2px 4px rgba(108, 84, 236, 0.15),
    -2px 7px 7px rgba(108, 84, 236, 0.13),
    -3px 15px 9px rgba(108, 84, 236, 0.08),
    -6px 27px 11px rgba(108, 84, 236, 0.02),
    -9px 43px 12px rgba(108, 84, 236, 0),
    inset 0 0 6.8px rgba(255, 255, 255, 0.25);
  --gradient: linear-gradient(to right, #6c54ec 0%, #b34ae4 100%);
  --bg-gradient-soft-pink: radial-gradient(
    50% 50% at 50% 50%,
    rgba(149, 0, 194, 0.6) 0%,
    rgba(149, 0, 194, 0) 100%
  );
  --bg-gradient-soft-purple: radial-gradient(
    50% 50% at 50% 50%,
    rgba(63, 32, 233, 0.6) 0%,
    rgba(63, 32, 233, 0) 100%
  );
  --bg-gradient-main: linear-gradient(
    to bottom,
    rgba(12, 10, 32, 0) 0%,
    rgba(12, 10, 32, 1) 100%
  );
} */

.shadow-primaryy {
  box-shadow: var(--shadow-primaryy);
}

.bg-gradient-soft-pink {
  background: var(--bg-gradient-soft-pink);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.bg-gradient-soft-purple {
  background: var(--bg-gradient-soft-purple);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.bg-gradient-main {
  background: var(--bg-gradient-main);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Poppins", Helvetica, sans-serif;
}

@layer utilities {
  .h2-default {
    @apply text-[32px] sm:text-[42px] leading-[44px] md:leading-[52px] font-semibold text-foreground;
  }

  .h2-large {
    @apply text-[36px] leading-[48px] md:text-[48px] md:leading-[60px] font-semibold text-foreground;
  }

  h4 {
    @apply text-[20px] md:text-[24px] sm:text-[24px] md:leading-[36px] font-semibold font-inter text-foreground;
  }

  .p-default {
    @apply text-[16px] leading-[28px] md:text-[18px] md:leading-[28px] font-medium  font-inter;
  }

  h5 {
    @apply text-[18px] md:text-[20px]  font-inter text-foreground;
  }

  h3 {
    @apply text-foreground;
  }

  p {
    @apply font-inter font-medium;
  }

  .p-16 {
    @apply text-[16px] leading-6 font-normal;
  }

  .section-default {
    @apply relative max-w-[1380px] mx-auto px-4 sm:px-6 lg:px-12 py-[80px] md:py-[100px];
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow-classic {
  box-shadow: var(--shadow-classic);
}
