@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@theme {
  --font-inter: "Montserrat";
  --color-primary: #6c54ec;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-grey: var(--grey);
  --color-border: var(--border);
  --color-border-two: var(--border);
  --color-primary-gradient: linear-gradient(to right, #6c54ec 0%, #b34ae4 100%);
  --сolor-neutral-gray: var(--neutral-gray);
  --color-blue: #042f9c;

  --color-soft-purple: #b34ae4;
  --color-soft-pink: #ec549b;
  --color-soft-blue: #549bec;
  --color-soft-green: #54ec9b;
  --color-soft-orange: #ec9b54;
  --color-soft-yellow: #ece254;
  --color-soft-red: #ec5454;
  --color-soft-cyan: #54ece2;
  --color-soft-indigo: #6d55ed;
  --color-soft-lime: #9bec54;
  --color-soft-rose: #ec549b;
  --color-soft-violet: #b34ae4;
  --color-soft-teal: #54b3e4;
  --color-soft-fuchsia: #e454ec;
  --color-soft-emerald: #54ec9b;
  --color-enterprise-gray: oklch(73.8% 0 0);
}

.light {
  --background: #f6f6f6;
  --secondary: #ffffff;
  --foreground: #333333;
  --text: #505050;
  --grey: #bdbdbd;
  --grey-second: #e5e5e5;
  --border: #fff;
  --border-two: #fff;
  --neutral-gray: #8a8f9c;
  --shadow-classic: 0px 24px 24px -12px rgba(14, 63, 126, 0.04),
    0px 12px 12px -6px rgba(14, 63, 126, 0.04),
    0px 6px 3px rgba(42, 51, 70, 0.04),
    0px 3px 3px -1.5px rgba(42, 51, 70, 0.04),
    0px 1px 1px rgba(42, 51, 70, 0.04), 0px 0px 0px 1px rgba(14, 63, 126, 0.04);
  --shadow-primaryy: 0px 2px 4px rgba(108, 84, 236, 0.15),
    -2px 7px 7px rgba(108, 84, 236, 0.13),
    -3px 15px 9px rgba(108, 84, 236, 0.08),
    -6px 27px 11px rgba(108, 84, 236, 0.02),
    -9px 43px 12px rgba(108, 84, 236, 0),
    inset 0 0 6.8px rgba(255, 255, 255, 0.25);
  --gradient: linear-gradient(to right, #6c54ec 0%, #b34ae4 100%);
  --bg-gradient-soft-pink: radial-gradient(
    50% 50% at 50% 50%,
    rgba(250, 117, 248, 0.3) 0%,
    rgba(250, 117, 248, 0) 100%
  );
  --bg-gradient-soft-purple: radial-gradient(
    50% 50% at 50% 50%,
    rgba(155, 137, 255, 0.3) 0%,
    rgba(193, 182, 255, 0) 100%
  );
  --bg-gradient-main: linear-gradient(
    to bottom,
    rgba(246, 246, 246, 0) 0%,
    rgba(246, 246, 246, 1) 100%
  );
}

.dark {
  --background: #f6f6f6;
  --secondary: #ffffff;
  --foreground: #333333;
  --text: #505050;
  --grey: #bdbdbd;
  --grey-second: #e5e5e5;
  --border: #fff;
  --border-two: #fff;
  --neutral-gray: #8a8f9c;
  --shadow-classic: 0px 24px 24px -12px rgba(14, 63, 126, 0.04),
    0px 12px 12px -6px rgba(14, 63, 126, 0.04),
    0px 6px 3px rgba(42, 51, 70, 0.04),
    0px 3px 3px -1.5px rgba(42, 51, 70, 0.04),
    0px 1px 1px rgba(42, 51, 70, 0.04), 0px 0px 0px 1px rgba(14, 63, 126, 0.04);
  --shadow-primaryy: 0px 2px 4px rgba(108, 84, 236, 0.15),
    -2px 7px 7px rgba(108, 84, 236, 0.13),
    -3px 15px 9px rgba(108, 84, 236, 0.08),
    -6px 27px 11px rgba(108, 84, 236, 0.02),
    -9px 43px 12px rgba(108, 84, 236, 0),
    inset 0 0 6.8px rgba(255, 255, 255, 0.25);
  --gradient: linear-gradient(to right, #6c54ec 0%, #b34ae4 100%);
  --bg-gradient-soft-pink: radial-gradient(
    50% 50% at 50% 50%,
    rgba(250, 117, 248, 0.3) 0%,
    rgba(250, 117, 248, 0) 100%
  );
  --bg-gradient-soft-purple: radial-gradient(
    50% 50% at 50% 50%,
    rgba(155, 137, 255, 0.3) 0%,
    rgba(193, 182, 255, 0) 100%
  );
  --bg-gradient-main: linear-gradient(
    to bottom,
    rgba(246, 246, 246, 0) 0%,
    rgba(246, 246, 246, 1) 100%
  );
}

/* .dark {
  --background: #0c0a20;
  --secondary: linear-gradient(
      to top right,
      rgba(69, 51, 182, 0.2) 0%,
      rgba(69, 51, 182, 0) 100%
    ),
    #0b0a10;
  --border: #717171;
  --border-two: #e0e0e0;
  --foreground: #ffffff;
  --text: #ffffff;
  --grey: #bdbdbd;
  --color-gray-200: #717171;
  --neutral-gray: #14131e;
  --shadow-classic: 0px 24px 24px -12px rgba(255, 255, 255, 0);
  --shadow-primaryy: 0px 2px 4px rgba(108, 84, 236, 0.15),
    -2px 7px 7px rgba(108, 84, 236, 0.13),
    -3px 15px 9px rgba(108, 84, 236, 0.08),
    -6px 27px 11px rgba(108, 84, 236, 0.02),
    -9px 43px 12px rgba(108, 84, 236, 0),
    inset 0 0 6.8px rgba(255, 255, 255, 0.25);
  --gradient: linear-gradient(to right, #6c54ec 0%, #b34ae4 100%);
  --bg-gradient-soft-pink: radial-gradient(
    50% 50% at 50% 50%,
    rgba(149, 0, 194, 0.6) 0%,
    rgba(149, 0, 194, 0) 100%
  );
  --bg-gradient-soft-purple: radial-gradient(
    50% 50% at 50% 50%,
    rgba(63, 32, 233, 0.6) 0%,
    rgba(63, 32, 233, 0) 100%
  );
  --bg-gradient-main: linear-gradient(
    to bottom,
    rgba(12, 10, 32, 0) 0%,
    rgba(12, 10, 32, 1) 100%
  );
} */

.shadow-primaryy {
  box-shadow: var(--shadow-primaryy);
}

.bg-gradient-soft-pink {
  background: var(--bg-gradient-soft-pink);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.bg-gradient-soft-purple {
  background: var(--bg-gradient-soft-purple);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.bg-gradient-main {
  background: var(--bg-gradient-main);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Poppins", Helvetica, sans-serif;
}

@layer utilities {
  .h2-default {
    @apply text-[32px] sm:text-[42px] leading-[44px] md:leading-[52px] font-semibold text-foreground;
  }

  .h2-large {
    @apply text-[36px] leading-[48px] md:text-[48px] md:leading-[60px] font-semibold text-foreground;
  }

  h4 {
    @apply text-[20px] md:text-[24px] sm:text-[24px] md:leading-[36px] font-semibold font-inter text-foreground;
  }

  .p-default {
    @apply text-[16px] leading-[28px] md:text-[18px] md:leading-[28px] font-medium  font-inter;
  }

  h5 {
    @apply text-[18px] md:text-[20px]  font-inter text-foreground;
  }

  h3 {
    @apply text-foreground;
  }

  p {
    @apply font-inter font-medium;
  }

  .p-16 {
    @apply text-[16px] leading-6 font-normal;
  }

  .section-default {
    @apply relative max-w-[1380px] mx-auto px-4 sm:px-6 lg:px-12 py-[80px] md:py-[100px];
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.shadow-classic {
  box-shadow: var(--shadow-classic);
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,700 L 0,105 C 42.26368658965343,81.10842211002142 84.52737317930686,57.21684422004283 140,53 C 195.47262682069314,48.78315577995717 264.15419387242594,64.24104522985012 310,77 C 355.84580612757406,89.75895477014988 378.8558513309895,99.81897486055672 420,106 C 461.1441486690105,112.18102513944328 520.4224008036163,114.48305532792301 577,122 C 633.5775991963837,129.516944672077 687.4545454545455,142.2488038277512 730,145 C 772.5454545454545,147.7511961722488 803.7594173782019,140.5217293610722 844,135 C 884.2405826217981,129.4782706389278 933.507785032647,125.66427872796004 986,110 C 1038.492214967353,94.33572127203996 1094.2094424912104,66.82115572708769 1152,75 C 1209.7905575087896,83.17884427291231 1269.6544450025112,127.05109836368925 1318,138 C 1366.3455549974888,148.94890163631075 1403.1727774987444,126.97445081815538 1440,105 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,105 C 56.86737688017131,113.11410558037484 113.73475376034261,121.22821116074968 156,122 C 198.2652462396574,122.77178883925032 225.92836183880087,116.20126093737608 278,112 C 330.07163816119913,107.79873906262392 406.5517988844537,105.96674508974597 453,104 C 499.4482011155463,102.03325491025403 515.8644426233842,99.93175870364006 562,107 C 608.1355573766158,114.06824129635994 683.9904306220096,130.3062200956938 731,124 C 778.0095693779904,117.69377990430621 796.1738348885775,88.84336091358482 840,77 C 883.8261651114225,65.15663908641518 953.3142298236803,70.32033624996696 1002,83 C 1050.6857701763197,95.67966375003304 1078.5692458167016,115.87529408654737 1129,131 C 1179.4307541832984,146.12470591345263 1252.408786909514,156.1784874038436 1308,151 C 1363.591213090486,145.8215125961564 1401.7956065452431,125.4107562980782 1440,105 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,105 C 62.17510375637737,82.22473499167305 124.35020751275474,59.449469983346106 162,67 C 199.64979248724526,74.5505300166539 212.77427370535833,112.42685505828862 262,112 C 311.2257262946417,111.57314494171138 396.5526976658119,72.84310978349941 448,56 C 499.4473023341881,39.15689021650058 517.014935631394,44.20070580771366 567,72 C 616.985064368606,99.79929419228634 699.3875598086123,150.35406698564591 744,154 C 788.6124401913877,157.64593301435409 795.4348251341565,114.38302624970262 841,112 C 886.5651748658435,109.61697375029738 970.8731396547621,148.11382801554365 1029,152 C 1087.126860345238,155.88617198445635 1119.072616246795,125.16166168812286 1157,113 C 1194.927383753205,100.83833831187714 1238.8363953580588,107.23952523196489 1287,109 C 1335.1636046419412,110.76047476803511 1387.5818023209706,107.88023738401756 1440,105 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,105 C 36.33800787755426,103.6532157868302 72.67601575510852,102.30643157366042 120,104 C 167.32398424489148,105.69356842633958 225.63394485712013,110.42748949218854 274,102 C 322.3660551428799,93.57251050781146 360.7882048164107,71.98361045758546 415,75 C 469.2117951835893,78.01638954241454 539.213235877237,105.63806867746968 589,107 C 638.786764122763,108.36193132253032 668.3588516746412,83.46411483253588 718,86 C 767.6411483253588,88.53588516746412 837.3513574241985,118.5054719923868 883,118 C 928.6486425758015,117.4945280076132 950.2357186285653,86.51399719791694 985,90 C 1019.7642813714347,93.48600280208306 1067.70576806154,131.43853921594544 1125,129 C 1182.29423193846,126.56146078405456 1248.9412091252743,83.7318459383013 1303,73 C 1357.0587908747257,62.268154061698695 1398.5293954373628,83.63407703084934 1440,105 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,105 C 42.26368658965343,81.10842211002142 84.52737317930686,57.21684422004283 140,53 C 195.47262682069314,48.78315577995717 264.15419387242594,64.24104522985012 310,77 C 355.84580612757406,89.75895477014988 378.8558513309895,99.81897486055672 420,106 C 461.1441486690105,112.18102513944328 520.4224008036163,114.48305532792301 577,122 C 633.5775991963837,129.516944672077 687.4545454545455,142.2488038277512 730,145 C 772.5454545454545,147.7511961722488 803.7594173782019,140.5217293610722 844,135 C 884.2405826217981,129.4782706389278 933.507785032647,125.66427872796004 986,110 C 1038.492214967353,94.33572127203996 1094.2094424912104,66.82115572708769 1152,75 C 1209.7905575087896,83.17884427291231 1269.6544450025112,127.05109836368925 1318,138 C 1366.3455549974888,148.94890163631075 1403.1727774987444,126.97445081815538 1440,105 L 1440,700 L 0,700 Z"
    );
  }
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,700 L 0,245 C 62.76110920193503,250.98836871183482 125.52221840387006,256.97673742366965 169,254 C 212.47778159612994,251.02326257633032 236.6722355864548,239.08141901715612 276,232 C 315.3277644135452,224.91858098284388 369.7888392503107,222.69758650770575 421,226 C 472.2111607496893,229.30241349229425 520.1724074123027,238.12823495202093 565,225 C 609.8275925876973,211.87176504797907 651.5215311004786,176.78947368421055 707,192 C 762.4784688995214,207.21052631578945 831.7414681857832,272.71387031113693 881,285 C 930.2585318142168,297.28612968886307 959.5125961563879,256.35504507124165 995,227 C 1030.4874038436121,197.64495492875835 1072.2081471886647,179.86594940389648 1126,199 C 1179.7918528113353,218.13405059610352 1245.654815088953,274.18115731317243 1300,288 C 1354.345184911047,301.81884268682757 1397.1725924555235,273.4094213434138 1440,245 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,245 C 61.35238837928573,262.5677919056808 122.70477675857146,280.13558381136164 170,267 C 217.29522324142854,253.86441618863836 250.53328134499986,210.02545666023423 297,194 C 343.46671865500014,177.97454333976577 403.16209786142906,189.7625895477015 449,217 C 494.83790213857094,244.2374104522985 526.8183272092839,286.92418514895985 567,286 C 607.1816727907161,285.07581485104015 655.5645933014354,240.54066985645932 703,228 C 750.4354066985646,215.45933014354068 796.9232995849745,234.91313542520288 849,246 C 901.0767004150255,257.0868645747971 958.7422083586664,259.8067884427291 1009,253 C 1059.2577916413336,246.1932115572709 1102.107866980359,229.8597108038806 1153,221 C 1203.892133019641,212.1402891961194 1262.8263237198976,210.7543683417484 1312,216 C 1361.1736762801024,221.2456316582516 1400.5868381400512,233.12281582912578 1440,245 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,245 C 56.273176663406375,268.2548838192921 112.54635332681275,291.50976763858415 157,279 C 201.45364667318725,266.49023236141585 234.08776335615534,218.21581326495544 277,205 C 319.91223664384466,191.78418673504456 373.1025932485659,213.62697930159402 422,239 C 470.8974067514341,264.373020698406 515.5018636495811,293.2762695286685 574,286 C 632.4981363504189,278.7237304713315 704.88995215311,235.26794258373207 744,216 C 783.11004784689,196.73205741626793 788.9383277379789,201.6519601364033 838,204 C 887.0616722620211,206.3480398635967 979.3567368949746,206.12421687065478 1029,215 C 1078.6432631050254,223.87578312934522 1085.6347246821224,241.85117238097754 1128,237 C 1170.3652753178776,232.14882761902246 1248.1043643765365,204.471093605435 1306,202 C 1363.8956356234635,199.528906394565 1401.9478178117317,222.2644531972825 1440,245 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,245 C 52.42803140447805,239.6673583758492 104.8560628089561,234.3347167516984 148,232 C 191.1439371910439,229.6652832483016 225.00378016865363,230.3284913690555 269,236 C 312.99621983134637,241.6715086309445 367.1288165164292,252.3513177720796 424,244 C 480.8711834835708,235.6486822279204 540.4809537656296,208.26623754262607 587,214 C 633.5190462343704,219.73376245737393 666.9473684210526,258.5837320574162 706,279 C 745.0526315789474,299.4162679425838 789.7295725501599,301.3988342277089 845,289 C 900.2704274498401,276.6011657722911 966.1343413783079,249.8209310317481 1017,248 C 1067.865658621692,246.1790689682519 1103.7330619366094,269.3174416452986 1154,276 C 1204.2669380633906,282.6825583547014 1268.9334108752546,272.9093023870575 1319,265 C 1369.0665891247454,257.0906976129425 1404.5332945623727,251.04534880647125 1440,245 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,245 C 62.76110920193503,250.98836871183482 125.52221840387006,256.97673742366965 169,254 C 212.47778159612994,251.02326257633032 236.6722355864548,239.08141901715612 276,232 C 315.3277644135452,224.91858098284388 369.7888392503107,222.69758650770575 421,226 C 472.2111607496893,229.30241349229425 520.1724074123027,238.12823495202093 565,225 C 609.8275925876973,211.87176504797907 651.5215311004786,176.78947368421055 707,192 C 762.4784688995214,207.21052631578945 831.7414681857832,272.71387031113693 881,285 C 930.2585318142168,297.28612968886307 959.5125961563879,256.35504507124165 995,227 C 1030.4874038436121,197.64495492875835 1072.2081471886647,179.86594940389648 1126,199 C 1179.7918528113353,218.13405059610352 1245.654815088953,274.18115731317243 1300,288 C 1354.345184911047,301.81884268682757 1397.1725924555235,273.4094213434138 1440,245 L 1440,700 L 0,700 Z"
    );
  }
}

.path-2 {
  animation: pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-2 {
  0% {
    d: path(
      "M 0,700 L 0,385 C 32.244481746808006,399.72262021200663 64.48896349361601,414.4452404240133 120,409 C 175.511036506384,403.5547595759867 254.288627772344,377.9416585159533 305,357 C 355.711372227656,336.0583414840467 378.3565254170081,319.7881255121732 425,340 C 471.6434745829919,360.2118744878268 542.2852705596237,416.90583943535376 589,431 C 635.7147294403763,445.09416056464624 658.5023923444976,416.5885167464115 700,409 C 741.4976076555024,401.4114832535885 801.705160062386,414.7400935790002 858,413 C 914.294839937614,411.2599064209998 966.6769674059583,394.4511089375876 1011,390 C 1055.3230325940417,385.5488910624124 1091.5869703137803,393.4554706706495 1135,401 C 1178.4130296862197,408.5445293293505 1228.97515133892,415.7270083798144 1281,413 C 1333.02484866108,410.2729916201856 1386.51242433054,397.6364958100928 1440,385 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,385 C 31.216857437415726,399.7030188479738 62.43371487483145,414.40603769594753 120,413 C 177.56628512516855,411.59396230405247 261.4819979380899,394.0788680641836 306,377 C 350.5180020619101,359.9211319358164 355.63829337280924,343.2784900473182 405,346 C 454.36170662719076,348.7215099526818 547.9648285706733,370.80717174654364 599,376 C 650.0351714293267,381.19282825345636 658.5023923444977,369.49282296650716 702,371 C 745.4976076555023,372.50717703349284 824.025602051336,387.2215363874276 885,387 C 945.974397948664,386.7784636125724 989.3951994501574,371.62103148378236 1032,371 C 1074.6048005498426,370.37896851621764 1116.3936001480345,384.2943376774432 1165,385 C 1213.6063998519655,385.7056623225568 1269.0303999577045,373.2016178064448 1316,371 C 1362.9696000422955,368.7983821935552 1401.4848000211477,376.8991910967776 1440,385 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,385 C 45.29584445795554,382.9695207380581 90.59168891591108,380.9390414761162 134,378 C 177.40831108408892,375.0609585238838 218.92908879431127,371.2133548335933 268,360 C 317.07091120568873,348.7866451664067 373.69195590684404,330.2075391895107 428,341 C 482.30804409315596,351.7924608104893 534.3030875783129,391.95648840836395 578,393 C 621.6969124216871,394.04351159163605 657.0956937799043,355.96650717703346 707,338 C 756.9043062200957,320.03349282296654 821.3141373020698,322.1774828835021 869,347 C 916.6858626979302,371.8225171164979 947.6477570118163,419.3235612889582 1000,426 C 1052.3522429881837,432.6764387110418 1126.0948346506648,398.5282719606651 1174,385 C 1221.9051653493352,371.4717280393349 1243.9729043855243,378.5633508683814 1284,382 C 1324.0270956144757,385.4366491316186 1382.013547807238,385.2183245658093 1440,385 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,385 C 36.302373840175534,377.22147030056306 72.60474768035107,369.44294060112617 118,374 C 163.39525231964893,378.55705939887383 217.8833831187713,395.44970789605856 266,395 C 314.1166168812287,394.55029210394144 355.8617198445637,376.7582278146396 407,385 C 458.1382801554363,393.2417721853604 518.6697375029738,427.5173808453831 566,432 C 613.3302624970262,436.4826191546169 647.4593301435407,411.1722488038278 696,392 C 744.5406698564593,372.8277511961722 807.4929419228632,359.7936239393058 862,347 C 916.5070580771368,334.2063760606942 962.568902165006,321.653255438949 1012,334 C 1061.431097834994,346.346744561051 1114.2314494171137,383.59335430489836 1155,400 C 1195.7685505828863,416.40664569510164 1224.505300166539,411.9733273414576 1270,406 C 1315.494699833461,400.0266726585424 1377.7473499167304,392.51333632927117 1440,385 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,385 C 32.244481746808006,399.72262021200663 64.48896349361601,414.4452404240133 120,409 C 175.511036506384,403.5547595759867 254.288627772344,377.9416585159533 305,357 C 355.711372227656,336.0583414840467 378.3565254170081,319.7881255121732 425,340 C 471.6434745829919,360.2118744878268 542.2852705596237,416.90583943535376 589,431 C 635.7147294403763,445.09416056464624 658.5023923444976,416.5885167464115 700,409 C 741.4976076555024,401.4114832535885 801.705160062386,414.7400935790002 858,413 C 914.294839937614,411.2599064209998 966.6769674059583,394.4511089375876 1011,390 C 1055.3230325940417,385.5488910624124 1091.5869703137803,393.4554706706495 1135,401 C 1178.4130296862197,408.5445293293505 1228.97515133892,415.7270083798144 1281,413 C 1333.02484866108,410.2729916201856 1386.51242433054,397.6364958100928 1440,385 L 1440,700 L 0,700 Z"
    );
  }
}

.path-3 {
  animation: pathAnim-3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-3 {
  0% {
    d: path(
      "M 0,700 L 0,525 C 51.03353247508525,518.5794496285919 102.0670649501705,512.1588992571837 148,508 C 193.9329350498295,503.8411007428163 234.76527267440326,501.9438525998572 280,517 C 325.23472732559674,532.0561474001428 374.87184435221656,564.0656903433874 422,559 C 469.12815564778344,553.9343096566126 513.7473499167305,511.79338602659334 560,495 C 606.2526500832695,478.20661397340666 654.1387559808613,486.76076555023917 709,488 C 763.8612440191387,489.23923444976083 825.6976261598243,483.16355177244975 879,498 C 932.3023738401757,512.8364482275502 977.0707393798409,548.5850273599619 1023,552 C 1068.929260620159,555.4149726400381 1116.019416320812,526.4963387877026 1155,523 C 1193.980583679188,519.5036612122974 1224.8515953369108,541.4296174892279 1271,546 C 1317.1484046630892,550.5703825107721 1378.5742023315447,537.785191255386 1440,525 L 1440,700 L 0,700 Z"
    );
  }
  25% {
    d: path(
      "M 0,700 L 0,525 C 48.35899706574321,543.390256152687 96.71799413148642,561.7805123053741 138,544 C 179.28200586851358,526.2194876946259 213.48702053979753,472.2682069311904 261,473 C 308.5129794602025,473.7317930688096 369.3339237093235,529.1466599698643 432,539 C 494.6660762906765,548.8533400301357 559.1772846229082,513.1451531893521 600,515 C 640.8227153770918,516.8548468106479 657.9569377990431,556.2727272727273 707,563 C 756.0430622009569,569.7272727272727 836.9949641809193,543.7639377197388 887,534 C 937.0050358190807,524.2360622802612 956.0632054772796,530.6715218483174 996,523 C 1035.9367945227204,515.3284781516826 1096.7522139099633,493.54997488699144 1147,486 C 1197.2477860900367,478.45002511300856 1236.9279388828675,485.12857860371673 1284,494 C 1331.0720611171325,502.87142139628327 1385.5360305585664,513.9357106981416 1440,525 L 1440,700 L 0,700 Z"
    );
  }
  50% {
    d: path(
      "M 0,700 L 0,525 C 47.00383303814533,510.6269396494753 94.00766607629066,496.2538792989505 145,501 C 195.99233392370934,505.7461207010495 250.97316873298263,529.6114224536731 301,537 C 351.02683126701737,544.3885775463269 396.0996589917789,535.3004308863572 435,537 C 473.9003410082211,538.6995691136428 506.62819529990213,551.1868540008987 550,553 C 593.3718047000979,554.8131459991013 647.3875598086125,545.9521531100479 707,543 C 766.6124401913875,540.0478468899521 831.8215654656481,543.0045335589099 874,533 C 916.1784345343519,522.9954664410901 935.3261783287953,500.0297126543128 984,489 C 1032.6738216712047,477.9702873456872 1110.8737212191704,478.8766158238389 1168,489 C 1225.1262787808296,499.1233841761611 1261.178936794523,518.4638240503317 1303,526 C 1344.821063205477,533.5361759496683 1392.4105316027385,529.2680879748341 1440,525 L 1440,700 L 0,700 Z"
    );
  }
  75% {
    d: path(
      "M 0,700 L 0,525 C 42.335800576277464,549.1865632186946 84.67160115255493,573.3731264373893 129,574 C 173.32839884744507,574.6268735626107 219.6493959660578,551.6940574691374 269,546 C 318.3506040339422,540.3059425308626 370.7308149832139,551.8506436860611 421,552 C 471.2691850167861,552.1493563139389 519.4273441010865,540.9033677866187 573,531 C 626.5726558989135,521.0966322133813 685.5598086124401,512.5358851674641 727,505 C 768.4401913875599,497.46411483253587 792.3334214491526,490.9530915435248 837,488 C 881.6665785508474,485.0469084564752 947.1065055909489,485.6517486584367 998,485 C 1048.893494409051,484.3482513415633 1085.2405561870523,482.4399138227286 1135,491 C 1184.7594438129477,499.5600861772714 1247.9312696608422,518.588596050649 1301,526 C 1354.0687303391578,533.411403949351 1397.034365169579,529.2057019746755 1440,525 L 1440,700 L 0,700 Z"
    );
  }
  100% {
    d: path(
      "M 0,700 L 0,525 C 51.03353247508525,518.5794496285919 102.0670649501705,512.1588992571837 148,508 C 193.9329350498295,503.8411007428163 234.76527267440326,501.9438525998572 280,517 C 325.23472732559674,532.0561474001428 374.87184435221656,564.0656903433874 422,559 C 469.12815564778344,553.9343096566126 513.7473499167305,511.79338602659334 560,495 C 606.2526500832695,478.20661397340666 654.1387559808613,486.76076555023917 709,488 C 763.8612440191387,489.23923444976083 825.6976261598243,483.16355177244975 879,498 C 932.3023738401757,512.8364482275502 977.0707393798409,548.5850273599619 1023,552 C 1068.929260620159,555.4149726400381 1116.019416320812,526.4963387877026 1155,523 C 1193.980583679188,519.5036612122974 1224.8515953369108,541.4296174892279 1271,546 C 1317.1484046630892,550.5703825107721 1378.5742023315447,537.785191255386 1440,525 L 1440,700 L 0,700 Z"
    );
  }
}
